<!-- =========================
    INTRO SECTION
============================== -->
<section id="intro" class="parallax-section" style="background: url('../images/intro-bg.jpg') 50% 0 repeat-y fixed;">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				{% if page.intro_event_details %}
				<h3 class="wow bounceIn" data-wow-delay="0.9s">{{ page.intro_event_details }}</h3>
				{% endif %}
				{% if page.intro_event_name %}
				<h1 class="wow fadeInUp" data-wow-delay="1.6s">{{ page.intro_event_name }}</h1>
				{% endif %}
				{% if page.intro_event_button_1 %}
				<a href="#overview" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs" data-wow-delay="2.3s">{{ page.intro_event_button_1 }}</a>
				{% endif %}
				{% if page.intro_event_button_2 %}
				<a href="#register" class="btn btn-lg btn-danger smoothScroll wow fadeInUp" data-wow-delay="2.3s">{{ page.intro_event_button_2 }}</a>
				{% endif %}
			</div>
		</div>
	</div>
</section>
