<!-- =========================
    OVERVIEW SECTION
============================== -->
<section id="overview" class="parallax-section">
	<div class="container">
		{{ content }}
	<!-- 	<div class="row">
			<div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.6s">
				{{ content }}
			</div>
			<div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.9s">
				<img src="{{ page.overview_image | relative_url }}" class="img-responsive" alt="Overview">
			</div>
		</div> -->
	</div>
</section>
