<!-- =========================
     SCRIPTS
============================== -->
<script src="{{ 'js/jquery.js' | relative_url }} "></script>
<script src="{{ 'js/bootstrap.min.js' | relative_url }} "></script>
<script src="{{ 'js/jquery.parallax.js' | relative_url }} "></script>
<script src="{{ 'js/owl.carousel.min.js' | relative_url }} "></script>
<script src="{{ 'js/smoothscroll.js' | relative_url }} "></script>
<script src="{{ 'js/wow.min.js' | relative_url }} "></script>
<script src="{{ 'js/custom.js' | relative_url }} "></script>
