<!-- =========================
    SPONSORS SECTION
============================== -->
<section id="sponsors" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="wow bounceIn col-md-12 col-sm-12">
				<div class="section-title">
					<h2>Generously supported by</h2>
				</div>
			</div>

			<div class="wow fadeInUp col-md-3 col-sm-6 col-xs-6" data-wow-delay="0.3s">
				<a href="{{ page.sponsor_1_url }} target="blank"><img src="{{ page.sponsor_1 | relative_url }}" class="img-responsive" alt="sponsors"></a>
			</div>

			<div class="wow fadeInUp col-md-3 col-sm-6 col-xs-6" data-wow-delay="0.6s">
				<a href="{{ page.sponsor_2_url }} target="blank"><img src="{{ page.sponsor_2 | relative_url }}" class="img-responsive" alt="sponsors"></a>
			</div>

		</div>
	</div>
</section>
