<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
</head>
<body data-spy="scroll" data-offset="50" data-target=".navbar-collapse">
{% include preloader.html %}
{% include navigation.html %}
{% include intro.html %}
{% include overview.html %}
{% include detail.html %}
{% include video.html %}
{% include speakers.html %}
{% include program.html %}
{% include register.html %}
{% include faq.html %}
{% include venue.html %}
{% include sponsors.html %}
{% include contact.html %}
{% include footer.html %}
{% include scripts.html %}
</body>
</html>
